.home-page-container, .home-page-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home-page-container {
    background-color: rgb(255, 255, 255, 40%);
    width: 75%;
    height: 50%;
    border-radius: 2rem;
    box-shadow: 0 0 40px rgb(0 0 0 / 30%);
}

.home-page-content {
    line-height: 1.8;
    font-size: 1rem;
    font-weight: 900;
    padding: 1rem;
}

.about-me-btn {
    padding: 1rem 2rem;
    margin: 0.5em;
    border-radius: 2rem;
    border: none;
    background-color: #84c5ff;
    color: white;
    font-weight: 900;
    font-size: 1.1rem;
}

.about-me-btn:hover {
    background-color: #6ab8fc;
    cursor: pointer;
}