.navbar-container {
    display: flex;
    justify-content: center;
    animation: slide-in 1s ease-in;
}

.navbar-item {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #9CA6FF;
    background-color: rgb(255, 255, 255, 0.6);
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    margin: 5px;
    font-size: 1rem;
}

.navbar-item:hover {
    background-color: rgb(255, 255, 255, 0.8);
    box-shadow: 0 0 15px rgb(0 0 0 / 40%);
}

@keyframes slide-in {
    from {
        opacity: 0;
        transform: translateY(40px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (min-width: 768px) {
    .navbar-item {
        width: 3.5rem;
        height: 3.5rem;
        font-size: 1.2rem;
    }
}