.page-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  animation: slide-right 0.4s ease-in-out;
}

.content-container {
  display: flex;
  flex: 2;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  align-items: center;
  gap: 1rem;
}

.navbar-position {
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 100%;
    justify-content: flex-end;
    margin-bottom: 3rem;
}

@keyframes slide-right {
  from {
      opacity: 0;
      transform: translateX(40px);
  }

  to {
      opacity: 1;
      transform: translateX(0);
  }
}
