:root {
  --toastify-color-progress-light: linear-gradient(
    to right,
    #84c5ff,
    #FA99AB,
    #A3A7F0,
    #FCDFCC
  );
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: url('../src/assets/background.png') repeat center center fixed;
  background-size: cover;
  height: 100vh;
  color: darkslategray;
  font-size: 1.1rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}